:root {
    --theme-dark-main: rgb(30,30,30);
    --theme-contrast-sec: rgb(255,193,0);
    --theme-contrast-tert: rgb(197, 0, 0);
    --theme-darker-nav: rgb(22, 22, 22);
    --text-lighter-main: rgb(230, 255,255);
    --text-dark-sec: rgb(58, 58, 59);
    --text-light-tert: rgb(160, 198, 209);
    --text-lightest-nav: white;
}


/* ------------------------------------------------ */

/* Utils */

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
    background-color: var(--theme-dark-main);
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    text-transform: capitalize;
}

.skeleton {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10vh 90vh;
    align-items: center;
    justify-content: center;
    
    color: var(--text-lighter-main);
}

.hidden {
    visibility: hidden;
}


/* ------------------------------------------------ */

/* Nav */

.nav {
    height: 100%;
    color: var(--text-lightest-nav);
    background-color: var(--theme-darker-nav);
    border-bottom: solid 4px var(--theme-contrast-sec);
    display: grid;
    grid-template-columns: 1fr 100px;
}

.nav-list {
    height: 100%;
    width: 100%;
    padding: 0 60px;
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-link {
    color: var(--text-lightest-nav);
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    transition: color .3s;
    color: var(--text-dark-sec);
}

.basket-link {
    text-decoration: none;
}

.nav-basket-el {
    align-self: center;
}

.nav-basket {
    position: relative;
    color: var(--text-lighter-main);
    top: 10px;
}

.basket-item-count {
    position: relative;
    bottom: 32px;
    left: 21px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--theme-contrast-tert);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-lightest-nav);
    font-size: 16px;
}



/* ------------------------------------------------ */

/* Shop */

.shop {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
    align-items: center;
    justify-content: center;
}

/* Search */

.shop-search {
    display: flex;
    width: inherit;
    height: 100%;
    align-items: center;
    /* border-bottom: var(--text-dark-sec) solid 3px; */
}

.search-bar {
    top: 15%;
    position: relative;
    left: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-bar input {
    height: 2.5rem;
    width: 400px;
    font-size: 1.5rem;
    padding-left: .5rem;
    background-color: var(--text-dark-sec);
    border: hidden;
    color: var(--text-light-tert);
}

/* Items */

.shop-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    position: relative;
    overflow: hidden;
}

.shop-headings {
    width: 100%;
    height: 50px;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.heading-title {
    justify-self: center;
}
.heading-price {
    justify-self: center;
}
.heading-maximum {
    justify-self: center;
}
.heading-amount{
    justify-self: center;
}

.items-container {
    width: 100%;
    height: 100%;
    position: relative;
    right: -17px;
    overflow-y: scroll;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
}

.shop-item {
    width: 100%;
    height: 60px;
    border: 1px solid var(--text-dark-sec);
    border-radius: 9999999px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}

.item-title {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.2rem;
}

.item-add-container {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.item-morphs {
    display: flex;
    gap: .5rem;
}

.item-add {
    color: var(--theme-contrast-sec);
    font-size: 1rem;
}

.item-cost {
    justify-self: center;
    color: var(--text-light-tert);
}

.item-maximum {
    justify-self: center;
    color: var(--text-light-tert);
}

.item-amount {
    justify-self: center;
}
